{% extends 'infographics/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %} Welcome to Elwedo Solar {% endblock %}

{% block body %}
    <img class="about-background" src="{% static '/infographics/images/about-background.svg' %}">

    <div id="about-logo-box" class="img-responsive">
        <img class="logo" src="{% static 'infographics/images/logo-login.svg' %}">
        <h3>{% trans 'GREEN ENERGY SHAPED FOR YOU' %}</h3>
    </div>
    <div id="about-body" class="container">
        {% trans 'Elwedo provides digital applications for the future energy world.' %}
    </div>
    <script>
        let body = $('body');
        if (body.has('#about-body')) {
            body.css('background-color', '#F4F1E4')
        }
    </script>
{% endblock %}