{% extends 'infographics/base.html' %}
{% load staticfiles %}
{% block title %} Welcome to Elwedo Solar {% endblock %}

{% block body %}
    <img class="about-background" src="{% static '/infographics/images/about-background.png' %}">

    <div id="about-logo-box" class="img-responsive">
        <img class="logo" src="{% static 'infographics/images/logo-login.svg' %}">
        <h3>GREEN ENERGY SHAPED FOR YOU</h3>
    </div>
    <div id="about-body">
        <div class="container login-box">
            <div class="row row-centered">
                <div class="col-lg-1 col-centered">


                </div>
            </div>
        </div>
    </div>
    <script>
        let body = $('body');
        if (body.has('#about-body')) {
            body.css('background-color', '#D6D1B5')
        }
    </script>
{% endblock %}