<!DOCTYPE html>
<html lang="fi">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5GVJBGN');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% load i18n %}

    <link rel="stylesheet" href="{% static 'infographics/thirdparty/bootstrap.min.css' %}">

    <script src="{% static 'infographics/thirdparty/jquery-3.1.0.min.js' %}"></script>

    <script src="{% static 'infographics/thirdparty/bootstrap.min.js' %}"></script>

    <script src="{% static 'infographics/thirdparty/d3.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'infographics/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<body id="body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GVJBGN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            {% include 'infographics/svg/logo-navbar.svg' %}
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'infographics:index' %}">{% trans 'DASHBOARD' %}</a></li>
            <li><a href="{% url 'infographics:about' %}">{% trans 'ABOUT' %}</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'infographics:logout' %}">{% trans 'LOGOUT' %}</a></li>
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'LOGOUT | ACCOUNT' %}<b#}
{#                            class="caret"></b></a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="#">{% trans 'Change Password' %}</a></li>#}
{#                        <li class="divider"></li>#}
{#                        <li><a href="{% url 'infographics:logout' %}">{% trans 'Log Out' %}</a></li>#}
{#                    </ul>#}
{#                </li>#}
            {% else %}
                <li><a href="{% url 'infographics:login' %}">{% trans 'LOGIN' %}</a></li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

{% block body %}
{% endblock %}

<footer class="footer">
    <div class="container">
        {% if user.is_authenticated %}<p class="text-muted">{% trans 'contact:' %} honkaantti@gmail.com</p>{% endif %}
    </div>
</footer>

</body>


</html>