{% load i18n %}
<div class="blue-ribbon explanation ribbon">
    <div id="expl1" class="hidden">
        <p>{% trans 'Electric car? You get 100km range with only 1.2 € when charging at daytime.' %}</p>
    </div>
    <div id="expl2" class="hidden">
        <p>{% trans 'Your solar power has helped you to reduce CO2 emissions in one day/week/month equaling to' %} <span id="airKm"></span> {% trans 'km air travel.' %} km air travel.</p>
    </div>
    <div id="expl3" class="hidden">
        <p>{% trans 'You have produced solar power in one day/week/month equaling to' %} <span id="trainKm"></span> {% trans 'km train trip.' %}</p>
    </div>
</div>