<div class="blue-ribbon explanation ribbon">
    <div id="expl1">
        <h1>TEXT THAT EXPLAINS DATA</h1>
        <p>Gives information relevant to the data giving some sort of interpretation.</p>
    </div>
    <div id="expl2">
        <h1>TEXT THAT EXPLAINS DATA</h1>
        <p>Gives information relevant to the data giving some sort of interpretation.</p>
    </div>
    <div id="expl3">
        <h1>TEXT THAT EXPLAINS DATA</h1>
        <p>Gives information relevant to the data giving some sort of interpretation.</p>
    </div>
</div>