{% load static %}

<h3>Timeline graph test</h3>
<p>{{ context }}</p>

{% for i in data %}
    <p>{{ i.timestamp }} {{ i.value }}</p>
{% endfor %}

<svg width="960" height="500"></svg>

{#<script src="{% static 'infographics/graph-timeline.js' %}">#}
<script>
    var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
    y = d3.scaleLinear().rangeRound([height, 0]);

var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.json({{ data }}, function (error, data) {
    data.forEach(function (d) {
        d.Time = d.time

    })
})
</script>