{% load staticfiles %}

<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>

<div id="timeline-menu" class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
    <div id="apartment-switch" class="graph-control-on pointer">APARTMENT</div>
    <div id="building-switch" class="graph-control-off pointer">BUILDING</div>
    <div id="eCar-switch" class="graph-control-off pointer">ELECTRIC CAR</div>
</div>

<div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
    <svg id="timeline-chart" width="700" height="350"></svg>
    <div id="legend-arrow-box"></div>
    <div class="legend" id="timeline-legend">
    <div class="legend-element">
        <p id="date-info"></p>
        <p id="time-info"></p>
    </div>
    <div class="legend-element">
        <div class="square gray"></div>
        <div>consumption<span id="consumption-info"></span></div>
    </div>
    <div class="legend-element">
        <div class="square green"></div>
        <div>savings<span id="production-info"></span></div>
    </div>
</div>
</div>




    <script src="{% static 'infographics/timeline.js' %}">

    </script>