<div id="arrow-left" class="arrow hidden pointer" onclick="leftArrow(ids)">
{% include 'infographics/svg/arrow-left.svg' %}
</div>
<div id="slide1" class="slide">
    <div class="click-to-popup">
        <h3 id="donut-heading" class="pointer">SAVINGS</h3>
        <div id="donut-popup" class="popupbox" tabindex="-1">
            <div class="popuptext"><b>Savings:</b><br/><br/>
                Savings as a percentage of total spending
            </div>
            <div id="donut-popup-close" class="close">
            </div>
        </div>
        <div id="donut-chart">
        </div>
    </div>
</div>
<div id="slide2" class="slide">
    <div class="click-to-popup">
        <h3 id="euro-heading" class="pointer">PURCHASED GRID ENERGY</h3>
        <div id="euro-popup" class="popupbox" tabindex="-1">
            <div class="popuptext"><b>Purchased grid energy:</b><br/><br/>
                Energy which has been purchased from the grid put in comparison with and without
                solar energy. The comparison is expressed in Euros to visualize the apartment’s savings.
            </div>
            <div id="euro-popup-close" class="close">
            </div>
        </div>
        <div id="euro-chart">
        </div>
    </div>
</div>
<div id="slide3" class="slide">
    <div class="click-to-popup">
        <h3 id="CO2-heading" class="pointer">CO2 EMISSIONS</h3>
        <div id="CO2-popup" class="popupbox" tabindex="-1">
            <div class="popuptext"><b>CO2 emissions:</b><br/><br/>
                CO2 emissions without solar energy in comparison to those where
                part of the consumed energy is solar.
            </div>
            <div id="CO2-popup-close" class="close">
            </div>
        </div>
        <div id="CO2-chart">
            <svg width="220" height="190">
                <circle id="green-circle" cx="75" cy="115" r="50" fill="#56eda8" color="white">10</circle>
                <text id="co2-wO" text-anchor="middle" x="75" y="120" fill="white"></text>
                <circle id="blue-circle" cx="145" cy="75" r="20" fill="#26B5DB" color="white">8</circle>
                <text id="co2-w" text-anchor="middle" x="145" y="80" fill="white"></text>
            </svg>
        </div>
    </div>
</div>
<div id="arrow-right" class="arrow hidden pointer" onclick="leftArrow(ids)">
{% include 'infographics/svg/arrow-right.svg' %}
</div>

<div class="legend">
    <div class="legend-element">
        <div class="square blue"></div>
        <div>with solar</div>
    </div>
    <div class="legend-element">
        <div class="square green"></div>
        <div>without solar</div>
    </div>
</div>

