<div id="arrow-left" class="arrow hidden pointer" onclick="leftArrow(ids)">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Tablet-Portrait" transform="translate(-118.000000, -1439.000000)">
                <g id="Graph-2" transform="translate(118.000000, 1282.000000)">
                    <g id="Slider-arrow-Copy" transform="translate(0.000000, 157.000000)">
                        <circle id="Oval" fill="#26B5DB" cx="18" cy="18" r="18"></circle>
                        <polyline id="Path-2" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"
                                  points="19.3099999 12 13 18.2379342 19.3099999 24.4758683"></polyline>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>
<div id="slide1" class="slide">
    <div class="click-to-popup">
        <h3 id="donut-heading" class="pointer">SAVINGS</h3>
        <div id="donut-popup" class="popupbox" tabindex="-1">
            <div class="popuptext"><b>Savings:</b><br/><br/>
                Savings as a percentage of total spending
            </div>
            <div id="donut-popup-close" class="close">
            </div>
        </div>
        <div id="donut-chart">
        </div>
    </div>
</div>
<div id="slide2" class="slide">
    <div class="click-to-popup">
        <h3 id="euro-heading" class="pointer">PURCHASED GRID ENERGY</h3>
        <div id="euro-popup" class="popupbox" tabindex="-1">
            <div class="popuptext"><b>Purchased grid energy:</b><br/><br/>
                Energy which has been purchased from the grid put in comparison with and without
                solar energy. The comparison is expressed in Euros to visualize the apartment’s savings.
            </div>
            <div id="euro-popup-close" class="close">
            </div>
        </div>
        <div id="euro-chart">
        </div>
    </div>
</div>
<div id="slide3" class="slide">
    <div class="click-to-popup">
        <h3 id="CO2-heading" class="pointer">CO2 EMISSIONS</h3>
        <div id="CO2-popup" class="popupbox" tabindex="-1">
            <div class="popuptext"><b>CO2 emissions:</b><br/><br/>
                CO2 emissions without solar energy in comparison to those where
                part of the consumed energy is solar.
            </div>
            <div id="CO2-popup-close" class="close">
            </div>
        </div>
        <div id="CO2-chart">
            <svg width="220" height="190">
                <circle id="green-circle" cx="75" cy="115" r="50" fill="#56eda8" color="white">10</circle>
                <text id="co2-wO" text-anchor="middle" x="75" y="120" fill="white"></text>
                <circle id="blue-circle" cx="145" cy="75" r="20" fill="#26B5DB" color="white">8</circle>
                <text id="co2-w" text-anchor="middle" x="145" y="80" fill="white"></text>
            </svg>
        </div>
    </div>
</div>
<div id="arrow-right" class="arrow hidden pointer" onclick="leftArrow(ids)">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Tablet-Portrait" transform="translate(-614.000000, -1439.000000)">
                <g id="Graph-2" transform="translate(118.000000, 1282.000000)">
                    <g id="Slider-arrow-Copy-2"
                       transform="translate(514.000000, 175.000000) scale(-1, 1) translate(-514.000000, -175.000000) translate(496.000000, 157.000000)">
                        <circle id="Oval" fill="#26B5DB" cx="18" cy="18" r="18"></circle>
                        <polyline id="Path-2" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"
                                  points="19.3099999 12 13 18.2379342 19.3099999 24.4758683"></polyline>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>

<div class="legend">
    <div class="legend-element">
        <div class="square blue"></div>
        <div>with solar</div>
    </div>
    <div class="legend-element">
        <div class="square green"></div>
        <div>without solar</div>
    </div>
</div>

