<div class="slide">
    <h3>SAVINGS</h3>
    <div id="donut-chart">
        {#            <svg width="220" height="190">#}
        {#                <line x1="1" y1="189" x2="219" y2="189" style="stroke:#6D6A5C;stroke-width:2"/>#}
        {#            </svg>#}
    </div>
</div>
<div class="slide">
    <h3>PURCHASED GRID ENERGY</h3>
    <div id="euro-chart">
        {#            <svg id="euro-svg" width="150" height="190">#}
        {#                #}
        {#            </svg>#}
    </div>
</div>
<div class="slide">
    <h3>CO2 EMISSIONS</h3>
    <div id="CO2-chart">
        <svg width="220" height="190">
            <circle id="green-circle" cx="75" cy="115" r="50" fill="#56eda8" color="white">10</circle>
            <circle id="blue-circle" cx="145" cy="75" r="20" fill="#26B5DB" color="white">8</circle>
        </svg>
    </div>
</div>
<div class="legend">
    <div class="legend-element">
        <div class="square blue"></div>
        <div>with solar</div>
    </div>
    <div class="legend-element">
        <div class="square green"></div>
        <div>without solar</div>
    </div>
</div>

