{% comment %}<p id="formatted">Formatted</p>{% endcomment %}

<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>

<div id="timeline-menu" class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
    <div id="building-switch" class="graph-control-off pointer">BUILDING</div>
    <div class="graph-control-off pointer">SAVINGS</div>
    <div class="graph-control-off pointer">ELECTRIC CAR</div>
</div>

{#<div id="formatted">Format me JSON</div>#}
{#<div>Login: user_1, password: pass_1, <a href="{% url 'infographics:login_page' %}">HERE</a></div>#}

<div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
    <div id="timeline-chart"></div>
</div>

<div class="legend">
    <div class="legend-element">
        <div class="square gray"></div>
        <div>consumption</div>
    </div>
    <div class="legend-element">
        <div class="square green"></div>
        <div>savings</div>
    </div>
</div>

    <script src="{% static 'infographics/timeline.js' %}">

    </script>