{% extends 'infographics/base.html' %}
{% block title %} Elwedo Solar {% endblock %}
{% load staticfiles %}

{% block body %}
    <div class="ribbon welcome">
        <h4>Welcome {{ user.username }}!</h4>
        <p>Last updated <span id="updated">18/03/17</span></p>
    </div>


    <div class="ribbon blue-ribbon sticky-ribbon">
        <div class="time-control-on pointer" id="daySwitch">DAY</div>
        <div class="time-control-off pointer" id="weekSwitch">WEEK</div>
        <div class="time-control-off pointer" id="monthSwitch">MONTH</div>
    </div>

    <div class="container">
        <h1 id="timeline-heading">ENERGY USAGE AND SAVINGS</h1>
        <div class="row">
            {% include 'infographics/graph-timeline.html' %}
        </div>
    </div>


    <div class="blue-ribbon explanation ribbon">
        <h1>TEXT THAT EXPLAINS DATA</h1>
        <p>Gives information relevant to the data giving some sort of interpretation.</p>
    </div>

    <div id="small-graphs-div">
        <div class="container">
            {% include 'infographics/graph-carousel.html' %}
        </div>
    </div>

    <div class="ribbon blue-ribbon">
        <div class="weather container">
            {% include 'infographics/weather.html' %}
        </div>
    </div>


    <div class="container" id="car-section">
        <div class="row">
            {% include 'infographics/car.html' %}
        </div>
    </div>



{% endblock %}