{% extends 'infographics/base.html' %}
{% block title %} Elwedo Solar {% endblock %}
{% load staticfiles %}
{% load i18n %}

{% block body %}

    <div class="ribbon welcome">
        <h4>{% trans 'Welcome' %}, {% if user.is_authenticated %}{{ user.username }}{% else %}Guest{% endif %}!</h4>
        <p>{% trans 'Last updated' %} <span id="updated"></span></p>
    </div>

    <div id="sticky-anchor"></div>
    <div id="sticky-ribbon" class="ribbon blue-ribbon">
        <div class="time-control-on pointer" id="daySwitch">{% trans 'DAY' %}</div>
        <div class="time-control-off pointer" id="weekSwitch">{% trans 'WEEK' %}</div>
        <div class="time-control-off pointer" id="monthSwitch">{% trans 'MONTH' %}</div>
    </div>



    {% include 'infographics/graph-timeline.html' %}
    {% include 'infographics/explanation.html' %}


    <div id="small-graphs-div">
        <div id="small-graphs-container" class="container">
            {% include 'infographics/graph-carousel.html' %}
        </div>
    </div>

    <div id="weather-div" class="ribbon blue-ribbon">
        <div class="weather container">
            {% include 'infographics/weather.html' %}
        </div>
    </div>


    <div class="container" id="car-section">
        {% include 'infographics/car.html' %}
    </div>



{% endblock %}