{% extends 'infographics/base.html' %}
{% block title %} Elwedo Solar {% endblock %}
{% load staticfiles %}

{% block body %}
    <div class="ribbon welcome">
        <h4>Welcome {{ user.username }}!</h4>
        <p>Last updated <span id="updated"></span></p>
    </div>

    <div id="sticky-anchor"></div>
    <div id="sticky-ribbon" class="ribbon blue-ribbon">
        <div class="time-control-on pointer" id="daySwitch">DAY</div>
        <div class="time-control-off pointer" id="weekSwitch">WEEK</div>
        <div class="time-control-off pointer" id="monthSwitch">MONTH</div>
    </div>

    <div class="container">

        <div id="timeline-heading" class="click-to-popup pointer"><h1>ENERGY USAGE AND SAVINGS</h1>
            <div class="popupbox show">
                <div class="popuptext"><b>Graph showing the energy usage of the households.</b><br/><br/>
                    Selecting the green buttons you will see different data sets:<br/>
                    <b>Building</b>: compares data of your apartment and of the whole building.<br/>
                    <b>Savings</b>: shows saved energy thanks to the use of solar energy.<br/>
                    <b>Electric car</b>: shows estimated enrgy usage if the family owns an electric car.<br/><br/>
                    Selecting the top blue buttons you will change the scope of the data between the previous day, week
                    or month.
                </div>
                <div class="close">
                </div>
            </div>
            <div id="timeline-div" class="row">
                {% include 'infographics/graph-timeline.html' %}
            </div>
        </div>
    </div>


    <div class="blue-ribbon explanation ribbon">
        <h1>TEXT THAT EXPLAINS DATA</h1>
        <p>Gives information relevant to the data giving some sort of interpretation.</p>
    </div>

    <div id="small-graphs-div">
        <div class="container">
            {% include 'infographics/graph-carousel.html' %}
        </div>
    </div>

    <div id="weather-div" class="ribbon blue-ribbon">
        <div class="weather container">
            {% include 'infographics/weather.html' %}
        </div>
    </div>


    <div class="container" id="car-section">
        <div class="row">
            {% include 'infographics/car.html' %}
        </div>
    </div>



{% endblock %}