{% load staticfiles %}

<div class="weather-img" id="weather1"><p>TOMORROW</p>
    <div><img src="{% static 'infographics/images/Sun.svg' %}"></div>
</div>
<div class="weather-img" id="weather2">TUE 21/03
    <div><img src="{% static 'infographics/images/Sun-Cloudy.svg' %}"></div>
</div>
<div class="weather-img" id="weather3">WED 22/03
    <div><img src="{% static 'infographics/images/Sun-Cloudy.svg' %}"></div>
</div>
<div class="weather-img" id="weather4"><p>THU 23/03</p>
    <div><img src="{% static 'infographics/images/Cloudy.svg' %}"></div>
</div>
<div class="weather-img" id="weather5">FRI 24/03
    <div><img src="{% static 'infographics/images/Sun-Cloudy.svg' %}"></div>
</div>
<div class="weather-img" id="weather6">SAT 25/03
    <div><img src="{% static 'infographics/images/Sun.svg' %}"></div>
</div>