{% load staticfiles %}

<div class="weather-block" id="weather1"><p>TOMORROW</p>
    <div><img src="{% static 'infographics/images/Sun.svg' %}"></div>
</div>
<div class="weather-block" id="weather2"><p></p>
    <div><img src="{% static 'infographics/images/Sun-Cloudy.svg' %}"></div>
</div>
<div class="weather-block" id="weather3"><p></p>
    <div><img src="{% static 'infographics/images/Sun-Cloudy.svg' %}"></div>
</div>
<div class="weather-block" id="weather4"><p></p>
    <div><img src="{% static 'infographics/images/Cloudy.svg' %}"></div>
</div>
<div class="weather-block" id="weather5"><p></p>
    <div><img src="{% static 'infographics/images/Sun-Cloudy.svg' %}"></div>
</div>
<div class="weather-block" id="weather6"><p></p>
    <div><img src="{% static 'infographics/images/Sun.svg' %}"></div>
</div>