body {
    font-family: 'Karla', sans-serif;
    color: #6D6A5C;
    overflow-x: hidden;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.navbar-brand {
    margin-top: -6px;
    margin-left: 6px;
}

.navbar-default {
    background-color: #56eda8;
    border-color: #56eda8;
    font-weight: bold;
    font-size: 20px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #56eda8;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #56eda8;
    text-decoration: underline;
}

.navbar-default .navbar-toggle {
    border-color: #56eda8;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #56eda8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        text-decoration: underline;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #56eda8;
        text-decoration: underline;
    }
}

.navbar-collapse {
    margin-right: 8px;
}

.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.consumption-rect {
    fill: #F4F1E4;
}

.production-rect {
    fill: #56EDA8;
}

.legend {
    margin-bottom: 50px;
    text-align: center;
}

.legend-element {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;

}

.legend-element > div {
    display: inline-block;
    vertical-align: middle;
}

.square {
    height: 20px;
    width: 20px;
    margin-right: 18px;
}

.blue {
    background-color: #26B5DB;
}

.green {
    background-color: #56eda8;
}

.gray {
    background-color: #F4F1E4;
}

.yellow {
    background-color: #efe79c;
}

.ribbon {
    width: 100%;
    text-align: center;
}

.welcome {
    margin-top: -20px;
    background-color: #F4F1E4;
    color: #6D6A5C;
    padding: 31px;
}

.welcome > h4 {
    font-weight: bold;
    font-size: 18px;
}

.welcome > p {
    font-size: 12px;
}

.blue-ribbon {
    background-color: #26B5DB;
    color: #FFFFFF;
}

.sticky-ribbon > div {
    width: 100px;
    display: inline-block;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 100px;
    font-weight: bold;
}

.time-control-off {
    color: #FFFFFF;
}

.time-control-on {
    background-color: #FFFFFF;
    color: #26B5DB;
}

#timeline-heading {
    margin-top: 56px;
    margin-bottom: 32px;
}

#timeline-menu > div {
    width: 150px;
    float: right;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-style: solid;
    border-color: #56eda8;
}

.graph-control-on {
    background-color: #56eda8;
    color: #FFFFFF;
}

.graph-control-off {
    color: #56eda8;
}

#timeline-chart {
    margin-top: 15px;
    margin-bottom: 37px;
    max-width: 800px;
}

@media screen and (max-width: 620px) {
    #timeline-chart {
        overflow-x: scroll;
    }
}

.axisY .domain {
    display: none;
}

.axisY line,
.axisY path {
    stroke: #D6D1B5;
    stroke-width: 1.0;
}

.axisY text,
.axisX text {
    /*stroke: #6D6A5C;*/
    /*stroke-width: 1px;*/
}

.explanation {
    padding-top: 57px;
    padding-bottom: 64px;
}

@media screen and (max-width: 770px) {
    h1 {
        font-size: 20px;
    }

    .explanation {
        padding-left: 33px;
        padding-right: 33px;
    }

    #timeline-menu {
        width: 100%;
        text-align: center;
    }

    #timeline-menu > div {
        display: inline-block;
        float: none;
        width: 97px;
        font-size: 12px;
        margin-right: 5px;
    }
}

#small-graphs-div {
    text-align: center;
    height: 500px;
    overflow: hidden;
}

#small-graphs-div > .container {
    height: inherit;
    /*overflow-x: scroll;*/
    white-space: nowrap;
}

.hidden {
    display: none;
}

.arrow {
    display: inline-block;
    vertical-align: 350%;
    white-space: normal;

}

.slide {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    display: inline-block;
    margin-bottom: 37px;
    white-space: normal;
}

.slide > h3 {
    font-weight: bold;
    margin-bottom: 50px;
}

.slide svg {
    width: 220px;
    height: 190px;
}

.slide svg rect {
    fill: #26B5DB;
}

/*SLIDER*/
@media screen and (min-width: 900px) {
    .slide {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*SLIDER*/
@media screen and (max-width: 400px) {
    .slide {
        margin-left: -30px;
        margin-right: -30px;
    }
}

@media screen and (max-width: 1000px) {
    .weather {
        overflow-x: scroll;
        white-space: nowrap;
    }
}

.weather-block {
    display: inline-block;
    width: 140px;
    white-space: normal;
    margin-top: 49px;
    margin-bottom: 69px;
    font-weight: bold;
    vertical-align: text-top;
}

.weather-block > div {
    margin-top: 28px;
    height: 96px;
}

.weather-block img {
    vertical-align: bottom;
}

#car-section {
    padding-top: 77px;
    padding-bottom: 77px;
    text-align: center;
    white-space: nowrap;
}

#car-section h1 {
    font-size: 48px;
}

#car-section img {
    width: 236px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50 pxц
}

.footer {
    background-color: #56eda8;
    bottom: 0;
    width: 100%;
    padding-top: 11px;
}

.text-muted {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.panel-body {
    padding-left: 30px;
}