body {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
}

.navbar-default {
    background-color: #56eda8;
    border-color: #56eda8;
    font-weight: bold;
    font-size: 20px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #56eda8;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #56eda8;
    text-decoration: underline;
}

.navbar-default .navbar-toggle {
    border-color: #56eda8;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #56eda8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        text-decoration: underline;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #56eda8;
        text-decoration: underline;
    }
}

.navbar-collapse {
    margin-right: 8px;
}

.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

rect {
    fill: #56eda8;
}

rect:hover {
    fill: #efe79c;
}

.ribbon {
    width: 100%;
    text-align: center;
}

.welcome {
    margin-top: -20px;
    background-color: #F4F1E4;
    color: #6D6A5C;
    padding: 31px;
}

.welcome > h4 {
    font-weight: bold;
    font-size: 18px;
}

.welcome > p {
    font-size: 12px;
}

.blue-ribbon {
    background-color: #26B5DB;
    color: #FFFFFF;
}

.sticky-ribbon > div {
    width: 100px;
    display: inline-block;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 100px;
    font-weight: bold;
}

.solar-switch > div {
    display: inline-block;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.solar {
    background-color: #efe79c;
}

.no-solar {
    background-color: #F4F1E4;
}

#timeline-heading {
    margin-top: 56px;
    margin-bottom: 32px;
}

#timeline-menu > div {
    width: 120px;
    float: right;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #56eda8;
    border-radius: 100px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;

}

@media screen and (max-width: 770px) {
    #timeline-menu {
        width: 100%;
        text-align: center;
    }

    #timeline-menu > div {
        display: inline-block;
        float: none;
        width: 93px;
        font-size: 12px;
        margin-right: 2px;
    }
}

.explanation {
    padding-top: 57px;
    padding-bottom: 64px;
}